@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-info">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
</div>

<form method="post">
    <div class="borader p-3 mt-4">
        @*<div asp-validation-summary="ModelOnly"></div>*@
        <div class="mb-3 row p-1">
            <label class="p-0">Categry Name</label>
            <input asp-for="Name"  class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Display Order</label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control" >Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-light border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@*Client side validation, the validtion does not need to go to server side with this implementation*@
@section Scripts {
    @{ 
    <partial name="_ValidationScriptsPartial" />
    }
}